/* src/App.css */
/* This file styles our main App.jsx layout */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212; /* Spotify's dark gray content background */
}

.App-content {
  flex-grow: 1;
  padding: 24px;
}